<%- include('../partials/header') %>

<form action="post" method="POST">
  <div class="form-group">
    <label for="logoUrl">Logo Url</label>
    <input type="text" name="logoUrl" class="form-control" id="logoUrl" placeholder="e.g. https://www.example.com/some.png">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control" id="name" placeholder="Flying Funks">
  </div>
  <div class="form-group">
    <label for="members">members</label>
    <textarea type="text" name="members" class="form-control" id="members" placeholder="Jon Snow,Daenerys, Melisandre,Arya Stark"></textarea>
  </div>
<div class="d-flex flex-row-reverse">
  <button type="submit" class="btn btn-outline-primary">Submit</button>
</div>
</form>

<%- include('../partials/footer') %>
